img {
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 2px;
}
.drop-zone {
  border: dotted 3px lightgray;
  width: 100px;
  height: 100px;
}
.nv-file-over {
  border: dotted 3px red;
}
.tabs {
  margin: 30px 25px;
}
.photos {
  width: 600px;
}
