.w-100 {
  width: 100%;
}

.img-thumbnail {
  margin: 0 25px 15px;
  width: 87%;
}

.card-body {
  padding: 0 25px;
}

.card-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}

.tabs {
  margin: 30px 25px;
}
