.w-100 {
  width: 100%;
}

.img-thumbnail {
  margin: 0 25px 15px;
  width: 87%;
}

.card-body {
  padding: 0 25px;
}

.card-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}

.tabs {
  margin: 30px 25px;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

textarea {
  max-height: 60px !important;
  resize: none !important;
}
.information {
  text-align: center;
  background-color: #c7e9f0;
  border: 1px solid #BCDDE4;
  border-radius: 5px;
  line-height: 42px;
}
